nav{
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

nav table{
    width: 100%;
    text-align: center;
}

td a{
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: white;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

main table{
    border: 0;
    width: 100%;    ;
}
