@charset "UTF-8";


body{
    background-color: #BDBFAA;
}


header{
    background-color: #D9A282;
    height: 120px;
    width: auto;
    text-align: center;
    margin: 5px;
}

nav{
    background-color: #0D0D0D;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
nav > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #D9A282;
    font-style: bold;
}